.menu{
    background: linear-gradient(36deg, #ff4f4f 8%, #fce02d 80%)!important;
}
h6:hover {
    color: rgb(0, 0, 0);
}
.text-decorator-none{
    text-decoration: none;
}
.cursor{
    cursor: pointer;
    color: white;
}
